@import url('https://fonts.googleapis.com/css?family=ZCOOL+XiaoWei');
@import url('https://fonts.googleapis.com/css?family=Barlow');

/*research result icon --- advanse research page*/
ul.search-results {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.search-results li {
	display: inline;
	margin: 0.5px;
}

/* manage_book.html.twig */
.book-image {
  width: 200px;
  height: 300px;
  border: 1px solid black;
}

.book-image img {
  width: 100%;
}

.heding-services {
	margin-top: 5%;
	margin-bottom: 3%;
}

hr {
	margin-top: 3%;
}

/*Social media*/
ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}
.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}
.social-network a.icoSkype:hover {
	background-color: #0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}
.social-network a.icoFacebook:hover i, .social-network a.icoSkype, .social-network a.icoLinkedin:hover i {
	color: #fff;
}
a.socialIcon:hover, .socialHoverClass {
	color: #44BCDD;
}
.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background-color: #C2625F;
}
.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}
.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*button style*/
a.btn, input.btn {
	background: #C2625F !important;
	color: #FFF !important;
}

.righted {
    text-align: right;
}

/*header font*/
div#company-name {
	font-family: 'ZCOOL XiaoWei', serif;
	font-size: 5ex;
	margin-top: 0;
  margin-bottom: -0.5	em;
}

/*container home page*/
.jumbotron.hero-main
 {     
	background-image: url("http://localhost:81/library_NORJ/public/img/home_hero.jpg");
	background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center; 
	width: 100%;
	height: 350px;
	background-size: cover;
  }

/**header*/
div.header {
	background-color: #fff;
}

.bg-1 {
	background-color:#845176;
}

/*post hero section home page*/
#post-hero {
	font-family: 'Barlow', sans-serif;
	padding: 20px 0;
	background: #E27E5F;
	color: #fff;
}
/*body*/
body { 
	font-family: 'Barlow', sans-serif;
}
 /*footer nav bar*/
a.nav-link:first-of-type {
	color: white;
}

/*search bar on header*/
div.col-sm-4.justify-content-end.search{
   	padding-top: 20px;
    padding-right: 35px;
    padding-left: 15px;
}

div.row.services{
    margin-top: 50px;
}

div#post-hero{
	margin-bottom: 50px;
}

div.col-md-3.release {
	margin-top: 25px;
	margin-right: 10px;
	margin-bottom: 40px;
	margin-left: 10px;
}

img.img-fluid.book-cover{
	width: 150px;
	height: 100px;
	background-image: url("../img/no_image_book.png");
}

/*about page style*/
.jumbotron.jum-about {
	background: url("../img/bookpile.jpg") center;
	margin-top:5%; 
	padding: 9rem 2rem;
	background-size: cover;
}

h1.h1main {
	margin-top: 5%;
	margin-bottom: 5%;
}

.col-lg-4.backgr-about {
	margin-top: 5%;
	margin-bottom: 2%;
	background-color:  rgb(243, 244, 245);
	border-radius: 0.3rem;
}
.col-lg-4.backgr-about-1 {
	margin-top: 5%;
	margin-bottom: 2%;
	background-color:#E27E5F;
	border-radius: 0.3rem;
}

/* homepage.html */
.card-body img {
	width: 100%;
	height: auto;
}

/* manage_book.html */
.book-image {
  width: 100%;
  height: 225px;
	border: 1px solid lightgray;
	border-radius: 1%;
	text-align: center;
}

.book-image img {
	width: auto;
	height: 100%;
}

/* testing media query */
/* search result view */
@media only screen and (max-width: 768px) {
  td.hide-column, th.hide-column {
    display: none;
  }
}
