{% extends "base.html" %}

{% block page_title %}About us{% endblock %}
{% block page_descrip %}Introduction about library NORJ{% endblock %}
{% block page_keywords %}About Libary, Books{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-9 order-md-2">
    <h1 class="text-center h1main">Who we are</h1>
    <p class="text-center text-justify lead">Lorem ipsum dolor sit amet, at vel case discere interpretaris. Ut vim putent
      incorrupte, eirmod animal iisque te usu. Quo ut volutpat ocurreret reformidans. Alia corrumpit his an, dolor
      tamquam recusabo mel eu. Qui cu odio torquatos deterruisset, ei mel elitr deseruisse, cu dicit nostro mei.
      Sit quis abhorreant ut, cu omnis appareat eos, vix eu sale quas. Sea ea saepe facete. Ius ea case eripuit
      suscipiantur, ea cibo assum suscipiantur duo.</p>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-lg-4 backgr-about">
    <h4 class="text-center">Our values</h4>
    <p class="text-justify">Through our diverse resources and innovative programs, we aim to enrich the lives of our citizens through free access to information in many different media and formats.</p>
  </div>
  <div class="col-lg-1">
    <p></p>
  </div>
  <div class="col-lg-4 backgr-about-1">
    <h4 class="text-center">History</h4>
    <p class="text-justify">Lorem ipsum dolor sit amet, at vel case discere interpretaris. Ut vim putent
      incorrupte, eirmod animal iisque te usu. Quo ut volutpat ocurreret reformidans. Alia corrumpit his an, dolor
      tamquam recusabo mel eu.</p>
  </div>
</div>
<hr>

<div class="row justify-content-center">
  <div class="col-lg-4 tex-center">
    <h5>Address</h5>
      
          <ul class="list-unstyled mb-0">
              <li>
                  <p>1000 First avenue <br>Montreal H1H 2H3</p>
              </li>
              <li>
                  <p>(514) 123-4567 </p>
              </li>
              <li>
                  <p>info@horjlibrary.com</p>
              </li>
          </ul>
          
  </div>
  <div class="col-lg-1">
      <p></p>
    </div>
  <div class="col-lg-4">
      <h5>Working hours</h5>
    <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <td>Sunday</td>
            <td>1:00 PM - 5:00 PM</td>
          </tr>
          <tr>
            <td>Monday</td>
            <td>10:00 AM - 9:00 PM</td>
          </tr>
          <tr>
            <td>Tuesday</td>
            <td>10:00 AM - 9:00 PM</td>
          </tr>
          <tr>
            <td>Wednesday</td>
            <td>10:00 AM - 9:00 PM</td>
          </tr>
          <tr>
            <td>Thursday</td>
            <td>10:00 AM - 9:00 PM</td>
          </tr>
          <tr>
            <td>Friday</td>
            <td>10:00 AM - 5:00 PM</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>10:00 AM - 5:00 PM</td>
          </tr>
        </tbody>
        </table>
  </div>
</div>

 
<div class="row" id="jumb-about">
  <div class="container">
    <div class="jumbotron jum-about">
    </div>
  </div>
</div>


{% endblock %}